<!DOCTYPE html>
<html lang="sr">

<head>
    <title>Dobrodošli, <%= student.username %></title>
    <meta cahrset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/form.css">
    <link type="text/css" rel="stylesheet" href="/css/nav.css">
    <link type="text/css" rel="stylesheet" href="/css/exams.css">
</head>

<body>
    <nav>
        <a href="/prijava">IZLOGUJ SE IZ SISTEMA</a>
        
        <form method="POST" action="/student" class="nav-form">
            <input type="hidden" name="username" value="<%= student.username %>">
            <input type="hidden" name="password" value="<%= student.password %>">
            <input type="submit" value="PROFIL" class="nav-submit">
        </form>
        
        <form method="POST" action="/exams" class="nav-form">
            <input type="hidden" name="username" value="<%= student.username %>">
            <input type="hidden" name="password" value="<%= student.password %>">
            <input type="submit" value="ISPITI" class="nav-submit nav-tmp">
        </form>
        
        <form method="POST" action="/results" class="nav-form">
            <input type="hidden" name="username" value="<%= student.username %>">
            <input type="hidden" name="password" value="<%= student.password %>">
            <input type="submit" value="REZULTATI" class="nav-submit">
        </form>
    </nav>

    <main>
        <div style="display: inline-block">
            <h1 id="main-header">Ispiti za studenta <%= student.username %></h1>
            <div id="exams">
                <h2>Informacije:</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Predmet</th>
                            <th class="date">Datum polaganja</th>
                            <th class="grade">Ocena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const exam of exams) { %>
                            <tr>
                                <td><%= exam.subject.toUpperCase() %></td>
                                <% 
                                let d = exam.date.getDate();
                                let m = exam.date.getMonth() + 1;
                                const y = exam.date.getFullYear();
                                d = (d < 10 ? '0' : '') + d;
                                m = (m < 10 ? '0' : '') + m;
                                const dateString = d + '.' + m + '.' + y + '.';
                                %>
                                <td class="date"><%= dateString %></td>
                                <td class="grade"><%= exam.grade %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div id="forms">
                <h2>Dodaj ispit</h2>
                <form method="POST" action="/exams/add" id="add">
                    <input type="hidden" name="username" value="<%= student.username %>">
                    <input type="hidden" name="password" value="<%= student.password %>">
                    <div>
                        <label for="subject">Predmet</label>
                        <input type="text" name="subject" id="subject" maxlength="50" autocomplete="off">
                    </div>

                    <div>
                        <label for="date">Datum polaganja</label>
                        <input type="date" name="date" id="date" required>
                    </div>

                    <div>
                        <label for="grade">Ocena</label>
                        <input type="text" name="grade" id="grade" maxlength="2" autocomplete="off">
                    </div>

                    <input type="submit" value="Dodaj ispit" class="submit">
                </form>

                <h2 class="top-space">Izmeni ispite</h2>
                <form method="POST" action="/exams/update" id="update">
                    <input type="hidden" name="username" value="<%= student.username %>">
                    <input type="hidden" name="password" value="<%= student.password %>">
                    <input type="submit" value="Izmeni ispite" class="submit">
                </form>
        
                <h2 class="top-space">Obriši ispite</h2>
                <form method="POST" action="/exams/delete" id="delete">
                    <input type="hidden" name="username" value="<%= student.username %>">
                    <input type="hidden" name="password" value="<%= student.password %>">
                    <div>
                        <label for="subject-delete">Predmet</label>
                        <input type="text" name="subject" id="subject-delete" maxlength="50"  autocomplete="off">
                    </div>
                    <input type="submit" value="Obriši ispite" class="submit">
                </form>
            </div>
        </div>
    </main>
    <script src="/js/exams.js"></script>
</body>

</html>